<span class="{{if parentView.showLunarCalendar 'line-height-2' 'line-height-3'}}">
  <label class="gregorian-date">{{model.date}}</label>
  {{#if parentView.showLunarCalendar}}
    <label class="chinese-date">{{model.cnShortDate}}</label>
  {{/if}}
</span>
