<div class="input-fake {{if isFocus 'focus'}}">
  {{input value=hour class="input-hour" tabindex="0"}}
  :
  {{input value=minute class="input-minute" tabindex="0"}}

  {{period-select value=period}}
</div>
