<div class="input-fake {{if isFocus 'focus'}}">
  {{input value=hour class="input-hour" placeholder="hh" tabindex="0"}}
  :
  {{input value=minute class="input-minute" placeholder="MM" tabindex="0"}}

  {{input value=period class="input-period" placeholder="pd" tabindex="0"}}
</div>
