@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/typography/text/ellipsis";

$date-picker-border-color: #E8E8E8;
$date-picker-color: #3C262D;
$date-picker-bg-color: #FFF;
$date-picker-today-bgcolor: #EEF6FF;
$date-picker-hover-bgcolor: #4366BC;
$date-picker-hover-color: #FFF;
$date-picker-not-current-month-bgcolor: #E8E8E8;
$date-picker-not-current-month-color: #B9B9B9;

.date-picker {
  position: relative;
  display: inline-block;

  .date-picker-title {
    height: 25px;
    line-height: 25px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid $date-picker-border-color;

    span { font-size: 13px; }
    .date-picker-next, .date-picker-past {
      position: absolute;
      top: 0;
      cursor: pointer;
      font-size: 14px;
      width: 20px;
    }
    .date-picker-next { right: 10px; }
    .date-picker-past { left: 10px; }
  }

  .date-picker-body {
    table {
      width: 100%;
      border-collapse: collapse;

      thead th {
        padding: 6px
      }

      tbody {
        td {
          cursor: pointer;
          text-align: center;
          border-top: 1px solid $date-picker-border-color;
          span { line-height: 24px }
        }

        td.date-picker-today {
          background-color: $date-picker-today-bgcolor;
        }

        td.date-picker-selected, td:hover {
          background-color: $date-picker-hover-bgcolor;
          color: $date-picker-hover-color
        }

        td span:before {
          width: 24px;
          height: 24px;
          display: inline-block;
          content: attr(data-date)
        }

        .date-picker-past-date, .date-picker-next-date {
          background-color: $date-picker-not-current-month-bgcolor;
          color: $date-picker-not-current-month-color
        }
      }

      thead th:not(:last-child), tbody td:not(:last-child) {
        border-right: 1px solid $date-picker-border-color
      }
    }
  }

  .date-picker-modal {
    position: absolute;
    max-width: 200px;
    color: $date-picker-color;
    border: 1px solid $date-picker-border-color;
    font-size: 12px;
    background-color: $date-picker-bg-color;
    @include user-select(none);

    &.invisible {
      display: none;
      visibility: hidden
    }
    &.visible {
      display: block;
      visibility: visible
    }
  }
}

.time-picker {
  text-align: center;

  .input-fake {
    padding: 4px 10px 4px 10px;
    color: #262626;
    border: none;
    background: #fff;
    font-weight: 500;
    font-size: 12px;
    @include box-shadow(inset 0 0 0 1px #d6d6d6);
    @include transition(all 0.15s ease-in-out);

    &.focus { @include box-shadow(inset 0 0 0 1px rgba(50, 138, 214, 0.8)); }

    select { width: 50px }
    input {
      outline: none;
      border: 0;
      padding: 0;
      width: 20px;
      text-align: center;
      @include box-shadow(none);
      @include border-radius(0);
      border-color: transparent !important
    }
  }
}
